* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #1B1A17;
}

ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.news {
    margin-top: 40px;
}

.news-wrapper {
    display: flex;
}

.news-text-column,
.news-img-column {
    width: 50%;
}

.news-text-column {
    margin-right: 73px;
}

.news-text-column p {
    line-height: 169.92%;
}

.section-title {
    font-weight: 400;
    font-size: 32px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.social {
    margin-top: 30px;
    display: flex;
}

.social-item {
    margin-right: 20px;
}

.social-item-link img {
    height: 25px;
}

.social-item:last-child {
    margin-right: 0;
}

.news-img-column {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}

.news-img:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
    height: 222px;
}

.news-img:nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
    height: 222px;
}

.news-img:nth-child(3) {
    grid-area: 1 / 2 / 3 / 3;
    height: 455px;
}